<!DOCTYPE html>
<html>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="shortcut icon" href="https://maxcdn.icons8.com/Share/icon/Logos//google_logo1600.png" >

        <title>GoogleNote</title>
        <link rel="stylesheet" href="../css/StylesFake.css">
    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <div class="row">
            <span><div class="col s1"><a style="text-decoration:none;color:#000"  href="https://mail.google.com/">Gmail</a></div></span>

            <span><div class="col s1"><a style="text-decoration:none;color:#000" href="https://www.google.com.ar/imghp?hl=es-419&tab=wi">Imágenes</a></div></span>

            <span><div class="col s1"><a href="Google2.html" id="gps" role="button" onclick="cambiar();" style="color:#000"><div class="large material-icons icon offset-s6" id="gps" role="button">location_off</div></a></div></span>

            <span><div class="col s1"><a style="text-decoration: none; color: black" href="https://www.google.com.ar/maps"><div class="material-icons icon">navigation</div></a></div></span>

            <span><div class="col s1" id="signin"><button type="button" onclick="Signingoogle()">SignIn</button></div></span>

        </div>

        <div class="ImagenGE">
            <img src= "https://www.google.com.ar/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"   width="260" height="90" class="Img" title="Scrapea el mundo">

            <div class="gsfi" style="background: transparent none repeat scroll 0% 0%; color: transparent; padding: 0px; position: absolute; z-index: 2; white-space: pre; visibility: hidden;" id="gs_sc0"></div>

        </div>

        <div class="divbarra" width="584px" height="44px" ><input id="barra" type="text" value="" width="584px" height="44px" maxlength="1000"></div>

        <div class= "row1">
            <span><a onclick=linker() class ="waves-effect waves-light white grey-text btn col s12">Buscar con Google</a></span>   

            <span><a onclick=linker2() class ="waves-effect waves-light white grey-text btn col s12">Me siento con suerte</a></span>

        </div>    

        <a name="arriba"></a>




        <div id="espanol"><center>Conoce más sobre MI:<a style="text-decoration:none;color:" href="file:///home/fede/Escritorio/cv/index.html"> Curriculum Vitae </a></center></div>



    </body>


<script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
    <script src="../js/javas.js"></script>
    
</html>